
* {
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}
.wrapper{
    margin: 0 auto; 
    
}
.content{
    background-image: url("../images/squared_metal.png");
    width: 100%;
    font-family: "Arial" , "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    
}
header{
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    font-family: "Georgia", Times, Times New Roman, serif;
}

nav{
    background-color: #ffffff;
    float: right;
    margin-right: 93px;
}
li{
    list-style-type: none;
}
a:link, a:visited {
    padding: 11px;
    display: inline-block;
    text-decoration: none;
    color:#777777;
}
a:hover, a:active{
    color:#DE534B;
}

section{
    background: #ffffff; 
    margin: 50px 100px 200px 100px;
    border: 1px solid #cccccc;
    display: inline-block;
    padding: 40px;
    max-width: 960px;
}
img{
    float: left;
    margin: 11px 15px 15px 0;
}
img:hover{
    outline: 5px solid #DE534B;
}
.text-box{
    position: absolute;
    background: #4aaaa5;
    color:#ffffff;
    width: 200px;
    bottom: 25px;
    text-align: center;
}
.container{
    position: relative;
    display: flex;
}

.row{
    display:flex;
    margin-right: 200px;
    
}
.column{
    flex: 50%;
    padding: 10px;
}
h2{
    color: #4aaaa5;
}
p{
    line-height: 2em;
}
#logo{
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 23px;
    font-size: 25px;
    margin: 0 0 0 94px;
    width: 300px;
    display: inline-block;
}
label{
    margin: 10px 0 10px 0;
}
input[type=text]{
    width: 100%;
    padding: 5px;
    margin: 10px 0 10px 0;
}
#message{
    height: 200px;
    width: 100%;
    margin-top: 10px
}
input[type=submit]{
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
}
input[type=submit]:hover{
    background-color: #DE534B;
}
footer{
    background-color: #666666;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    color: #ffffff;
}